@charset "utf-8";

/* プレビューエリア */
.contents {
    position: relative;
}

.preview-area {
    height: fit-content;
    position: sticky;
    top: 90px;
    background-color: #E4EFFF;
    border-radius: 25px;
    box-shadow: 14px 14px 28px #5b6066,
             -14px -14px 28px #ffffff;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.event-period-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-period-label p{
    font-weight: bold;
    font-size: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.event-title-label {
    text-align: center;
}

.preview-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.preview-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-title p{
    margin-block-start: -5px;
    margin-block-end: -5px;
}

#preview-calendat-year-label {
    font-size: 40px;
}

#preview-calendat-month-label {
    font-size: 32px;
}

.previous-month-button,
.next-month-button {
    font-size: 40px;
    text-align: center;
    color: #555;
    background-color: #E4EFFF;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: none;
    box-shadow:  2px 2px 5px #5b6066,
             -2px -2px 5px #ffffff;
}

.previous-month-button {
    margin-right: 40px;
}

.next-month-button {
    margin-left: 40px;
}

.previous-month-button:hover,
.next-month-button:hover{
    outline: 2px solid #bebbe7;
    outline-offset: -2px;
}

#calendar {
    position: sticky;
    top: 192px;
}

#calendar table {
    border-spacing: 10px;
    height: fit-content;
}

#calendar tr th:first-child,
#calendar tr td:first-child{
    color: #ff8888;
}

#calendar tr th:nth-child(7),
#calendar tr td:nth-child(7){
    color: #888bff;
}

.calendar-header th,
.calendar-cells td{
    width: 55px;
    height: 55px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
}

.calendar-header th.is-invalid,
.calendar-cells td.is-invalid{
    background-color: #a2a2aa;
    color: rgb(209, 209, 209) !important;
    font-weight: normal;
}

.calendar-cells td.isReserved{
    background-color: #FDFFA3;
}

.calendar-cell {
    position: relative;
}

.notification-badge {
    position: absolute;
    border: 1px solid black;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    background-color: #ff4c4c;
    border: none;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
}

.notification-badge.no-notification {
    display: none;
}

.calendar-cell.is-hovered {
    outline: 2px solid yellow;
    outline-offset: -5px;
}

.calendar-cell.is-clicking {
    background-color: #FDFFA3;
}