@charset "utf-8";

body {
    background-color: #E4EFFF;
}

h1 {
    text-align: center;
}

.contents {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    padding: 0 50px;
}