@charset "utf-8";

body {
    background-color: #E4EFFF;
}

h1 {
    text-align: center;
}

.contents {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    padding: 0 50px;
}

.url-area{
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

.event-url-text {
    width: 350px;
    margin-right: 15px;
}

.copy-url-button {
    width: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #555;
    background-color: #E4EFFF;
    border-radius: 10px;
    border: none;
    box-shadow:  2px 2px 3px #5b6066,
             -2px -2px 3px #ffffff;
}

.copy-url-button:hover{
    outline: 2px solid #bebbe7;
    outline-offset: -2px;
}