@charset "utf-8";

.form-area {
    width: 500px;
    margin-right: 50px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.form p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.tilde {
    margin-left: 15px;
    margin-right: 15px;
}

.period .tilde {
    margin-block-start: 20px !important;
}

.reservation-slot-time p {
    margin-left: 10px;
}

.form-title {
    font-size: 20px;
    font-weight: bold;
}

.input-fields {
    display: flex;
    align-items: center;
}

.input-fields.not-flex {
    display: block;
}

input {
    height: 30px;
    padding-left: 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px #5b6066,
            inset -1px -1px 3px #ffffff;
}

textarea {
    width: 182px;
    height: 174px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px #5b6066,
            inset -1px -1px 3px #ffffff;
}

input[type="date"]{
    width: 100px !important;
}

input[type="time"]{
    width: 68px !important;
}

.event-title input {
    width: 260px;
}

.reservation-slot-time input {
    width: 50px;
}

.day-toggle {
    background-color: #E4EFFF;
    cursor:pointer;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 25px;
    box-shadow:  2px 2px 3px #5b6066,
             -2px -2px 3px #ffffff;
    transition-duration: 0.2s;
}

.day-toggle-label {
    user-select: none;
}

.day-toggle-off {
    background-color: #E4EFFF;
    color: #AFAFAF;
    box-shadow: inset 2px 2px 3px #5b6066,
            inset -2px -2px 3px #ffffff;
}

.add-row-button {
    background-color: #E4EFFF;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
    box-shadow:  2px 2px 3px #5b6066,
             -2px -2px 3px #ffffff;
}

.remove-row-button {
    background-color: #E4EFFF;
    color: red;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
    box-shadow:  2px 2px 3px #5b6066,
             -2px -2px 3px #ffffff;
}

.form-additional-row {
    margin-bottom: 10px;
}

.default-reception-time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-row-default-reception-time,
.form-row-individual-day-of-week {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.default-reception-time .form-row-default-reception-time:first-child {
    justify-content: space-between;
}

.form-row-default-reception-time .input-fields,
.form-row-individual-day-of-week .input-fields,
.form-row-individual-date .input-fields,
.form-row-individual-exclusion-date .input-fields {
    margin-right: 42px;
}

.form-row-default-reception-time .input-fields.add-row {
    margin-right: 0;
}

#add-row-default-reception-time-button {
    margin-left: auto;
}

.remove-row-button{
    margin-left: 17px;
}

.form.default-reception-time .form-initial-row .remove-row-default-reception-time-button{
    display: none;
}

.default-reception-time input,
.individual-day-of-week input {
    width: 80px;
}

.individual-date input,
.individual-exclusion-date input,
.input-individual-exclusion-date input {
    width: 100px;
}

.form-row-individual-day-of-week,
.form-row-individual-date,
.form-row-individual-exclusion-date  {
    display: flex;
    align-items: center;
}

#event-make-button,
#reserve-make-button {
    background: #E4EFFF;
    text-align: center;
    line-height: 80px;
    width: 320px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
    box-shadow:  2px 2px 5px #5b6066,
             -2px -2px 5px #ffffff;
}

#event-make-button p,
#reserve-make-button p {
    color: black;
    text-decoration: none;
    font-size: 28px;
}

.detail-form-area {
    border: 1px solid #6aa6ff;
    border-radius: 10px;
    padding: 20px;
}

details {
    margin-bottom: 10px !important;
}

.detail-form-area details:last-child {
    margin-bottom: 0px !important;
}

.detail-form-area .form-additional-row {
    justify-content: flex-end;
}

.individual-day-of-week-pulldown,
.input-individual-date {
    margin-right: 20px;
}

.input-row{
    display: flex;
}

.not-margin-right{
    margin-right: 0 !important;
}

summary {
    margin-bottom: 20px;
}
   
select {
    border: none;
    border-radius: 5px;
    padding: 3px;
    box-shadow: inset 1px 1px 3px #5b6066,
            inset -1px -1px 3px #ffffff;
}