@charset "utf-8";

body {
    color: #555 !important;
}

header {
    background-color: #E4EFFF;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

header #app-title{
    font-family: "Copperplate";
    color: #555 !important;
    font-size: 20px;
    text-decoration: none;
}