@charset "utf-8";

.completed-contents{
    width: 100%;
}

.completed-info {
    text-align: center;
    width: 70%;
    height: 450px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E4EFFF;
    border-radius: 25px;
    box-shadow: 14px 14px 28px #5b6066,
             -14px -14px 28px #ffffff;
}

.completed-event-title {
    font-weight: bold;
    font-size: 40px;
}

.completed-reserve-date {
    font-weight: bold;
    font-size: 32px;
}

.completed-reserve-time {
    font-weight: bold;
    font-size: 32px;
}

.completed-reserver-name {
    font-weight: bold;
    font-size: 28px;
}

.completed-reserve-contact-address {
    font-weight: bold;
    font-size: 28px;
}

.message{
    text-align: center;
}

.completed-message {
    font-size: 48px;
}