@charset "utf-8";

.completed-contents{
    width: 100%;
}

.completed-info {
    text-align: center;
    width: 100%;
    height: 250px;
    padding-top: 30px;
    background-color: #E4EFFF;
    border-radius: 25px;
    box-shadow: 14px 14px 28px #5b6066,
             -14px -14px 28px #ffffff;
}

.completed-event-title {
    font-weight: bold;
    font-size: 40px;
}

.completed-event-period {
    font-weight: bold;
    font-size: 28px;
}

.message{
    text-align: center;
}

.completed-message {
    font-size: 48px;
}

#to-list-link {
    background-color: #E4EFFF;
    cursor: pointer;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 60px;
    width: 250px;
    height: 60px;
    border-radius: 18px;
    box-shadow:  2px 2px 5px #5b6066,
             -2px -2px 5px #ffffff;
}

#to-list-link:hover{
    outline: 2px solid #6dc979;
    outline-offset: -2px;
}