@charset "utf-8";

.reservation-board {
    width: 100%;
    height: 800px;
    padding: 20px;
    border: none;
    overflow-y:scroll;
    border-radius: 25px;
    box-shadow: inset 3px 3px 10px #5b6066,
            inset -3px -3px 10px #ffffff;
}

.reservation-board::-webkit-scrollbar {
    width: 20px;
}

.reservation-board::-webkit-scrollbar-track {
    display: none;
}

.reservation-board::-webkit-scrollbar-thumb {
    background-color: #9aa2ac;
    border: none;
    -webkit-border-radius:8px;
}

.reservation-data{
    padding: 20px;
    position: relative;
    margin-bottom: 60px;
}

.reservation-data::after{
    content: '';
    display: inline-block;
    width: 90%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 5px;
    left: calc(5%);
}

.reservation-header-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.delete-button {
    background-color: #FFB2B2;
    color: #555;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
    box-shadow:  2px 2px 5px #5b6066,
             -2px -2px 5px #ffffff;
}

.reservation-time {
    font-size: 32px;
    font-weight: bold;
    margin-block-start: 5px;
    margin-block-end:5px;
}

.reserver-name {
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.reserver-tel {
    font-size: 20px;
    margin-block-start: 0;
}

.reserver-remarks {
    font-size: 14px;
}