@charset "utf-8";

.filter-buttons{
    display: flex;
    justify-content: flex-end;
}

.filter-button{
    width: fit-content;
    text-align: center;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    background-color: #E4EFFF;
    border-radius: 10px;
    border: none;
    box-shadow: 9px 9px 19px #c2cbd9,
            -9px -9px 19px #ffffff;

    cursor: pointer;
}

.filter-button p {
    margin: auto;
    padding: 10px 30px;
}

.event-row,
.event-list-header{
    display: flex;
    justify-content: space-between;
}

.event-list-board {
    width: 80%;
}

.event-row{
    margin-bottom: 30px;
}

.event-info {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    width: 85%;
    background-color: #E4EFFF;
    border-radius: 10px;
    border: none;
    box-shadow: 9px 9px 19px #c2cbd9,
            -9px -9px 19px #ffffff;
    cursor: pointer;
}

.event-edit{
    width: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    
    background-color: #E4EFFF;
    border-radius: 10px;
    border: none;
    box-shadow: 9px 9px 19px #c2cbd9,
            -9px -9px 19px #ffffff;

    cursor: pointer;
}

.icon-event-edit {
    width: 60%;
    margin-left: 15px;
    margin-top: 10px;
}