@charset "utf-8";

.body{
    padding: 0 15%;
}

#event-make-button-at-list {
    background-color: #E4EFFF;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    width: 250px;
    height: 60px;
    margin-left: 30px;
    border-radius: 18px;
    box-shadow:  2px 2px 5px #5b6066,
             -2px -2px 5px #ffffff;
}

#event-make-button-at-list:hover{
    outline: 2px solid #6dc979;
    outline-offset: -2px;
}

#event-make-button-at-list p {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.filter-buttons{
    display: flex;
    justify-content: flex-end;
}

.filter-button{
    width: fit-content;
    text-align: center;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    background-color: #E4EFFF;
    border-radius: 10px;
    border: none;
    box-shadow:  2px 2px 5px #5b6066,
             -2px -2px 5px #ffffff;
    cursor: pointer;
}

.filter-button:hover{
    outline: 2px solid #bebbe7;
    outline-offset: -2px;
}

.filter-button.is-clicking{
    box-shadow: inset 2px 2px 3px #5b6066,
            inset -2px -2px 3px #ffffff;
    outline: none;
    outline-offset: none;
}

.filter-button p {
    margin: auto;
    padding: 10px 30px;
}

.event-row,
.event-list-header{
    display: flex;
    flex-direction: column;
}

.event-list-board {
    width: 80%;
}

.event-row{
    margin-bottom: 30px;
}

.url-area{
    display: flex;
    margin-bottom: 10px;
}

.event-url-text {
    width: 350px;
    margin-right: 30px;
}

.copy-url-button {
    width: 50px;
    border: 1px solid black;
}

.main-area {
    display: flex;
    justify-content: space-between;

}

.event-info {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    width: 85%;
    background-color: #E4EFFF;
    border-radius: 10px;
    border: none;
    box-shadow:  2px 2px 5px #5b6066,
             -2px -2px 5px #ffffff;
    cursor: pointer;
}

.event-info:hover,
.event-edit:hover{
    outline: 2px solid #6dc979;
    outline-offset: -2px;
}

.event-edit{
    width: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    
    background-color: #E4EFFF;
    border-radius: 10px;
    border: none;
    box-shadow:  2px 2px 5px #5b6066,
             -2px -2px 5px #ffffff;

    cursor: pointer;
}

.icon-event-edit {
    width: 60%;
    margin-left: 15px;
    margin-top: 10px;
}